<%= form_for(@new_vendor) do |f| %>
  <% if @new_vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_vendor.errors.count, "error") %> prohibited this new_vendor from being saved:</h2>

      <ul>
      <% @new_vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
